.dashboard-layout {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 300px;
  background-color: #4CAF50;
  color: white;
  padding: 20px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -350px;
  transition: left 0.3s ease;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.sidebar.open {
  left: 0;
}

.sidebar h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #000000;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
}

.sidebar nav ul li {
  margin: 20px 0;
}

.sidebar nav ul li a,
.sidebar nav ul li button {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 10px;
  border: none;
  background: none;
  cursor: pointer;
  width: 100%;
  text-align: left;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
}

.sidebar nav ul li a .icon,
.sidebar nav ul li button .icon {
  margin-right: 10px;
}

.sidebar nav ul li button:hover,
.sidebar nav ul li a:hover {
  background-color: #40916c;
  color: #d8f3dc;
}

.sidebar nav ul li button:focus,
.sidebar nav ul li a:focus {
  outline: none;
}

.dashboard-content {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
  overflow-y: auto;
}

.hamburger {
  position: fixed;
  top: 20px;
  left: 2px;
  background: none;
  border: none;
  color: #4CAF50;
  font-size: 24px;
  cursor: pointer;
  z-index: 1001;
  display: block;
  transition: color 0.3s, background-color 0.3s;
}

.hamburger:hover {
  color: #4CAF50;
  background-color: white;
}

.hamburger.active {
  color: black;
  background-color: #4CAF50;
}

@media (min-width: 1024px) {
  .hamburger {
    display: none;
  }

  .sidebar {
    left: 0;
  }
}
